
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'Miama';
    font-style: italic;
    font-weight: 400;
    src: local('Miama'), url('https://fonts.cdnfonts.com/s/302/Miama-Regular.woff') format('woff');
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* * {
    margin: 0;
} */

/* shared style */
#body-bg {
    background-color: rgb(50, 48, 48);
}
#header-bg {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

/* header nav */

/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); */

body {
    font-family: "Inter", sans-serif;
    background-color: black;
    margin-top: 60px;
}
/* Navigation Bar Styles and works */
.nav-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.1);
}
.bars{
    display: none;
    color: white;
}
.nav-tag {
    font-size: 30px;
    font-weight: 800;
}
.nav-options {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    margin-top: 40px;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    gap: 60px;
    display: flex;
    width: 500px;
    height: 60px;
    text-align: center;
    justify-content: center;
}
#Home {
    border-radius: 46px;
    background: rgb(230, 83, 60);
    /* position: static; */
    width: 92px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px 8px 20px;
    margin-top: 0px;
}
.banner-container{
    display: flex;
    gap: 400px;
}
.banner-head{
    width: 500px;
    height: 250px;
    padding: 0px;
    color: rgb(255, 255, 255);
    font-size: 65px;
    font-weight: 800;
}
.banner-para{
    width: 520px;
    height: 48px;
    padding: 0px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0px;
}
.btn-join{
    width: 180px;
    height: 54px;
    padding: 16px 40px 16px 40px;
    margin: 0px 14px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    border: none;
}
.btn-app{
    width: 180px;
    height: 54px;
    padding: 16px 40px 16px 40px;
    margin: 0px 14px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    border: none;
}
#home {
    background-color: rgb(230, 83, 60);
    border-radius: 47px;
    padding: 10px 20px 10px 20px;
}
.gym-nav {
    max-width: 1440px;
    margin: 0 auto;
}
/* Main section */
main {
    max-width: 1440px;
    margin: 0 auto;
}

.main-1,
.main-2 {
    max-width: 1440px;
    margin: 0 auto;
}

.main-head {
    justify-content: center;
    align-items: center;
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.main-head-title {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 700;
}

.main-head-text{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.87rem;
    font-weight: 400;
}

.main-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0px 150px 100px 220px;
}

.main-text {
    color: rgb(255, 255, 255);
    font-size: 1.12rem;
    font-weight: 600;
    text-align: center;
}

.main-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.87rem;
    font-weight: 400;
    text-align: center;
}

.main-box {
    /* width: 240px;
    height: 240px; */
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    padding: 20px;
}

.main-img {
    border: none;
    border-radius: 200px;
    padding: 20px;
}


.main-2 {
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin-bottom: 100px;
}

.main-head-2 {
    display: flex;
    justify-content: space-evenly;
}

.main-2-img {
    border-radius: 50px;
    width: 40%;
    padding: 20px;
}

.main-2-text {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 700;
}

.main-2-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.87rem;
    font-weight: 400;
}

.main-2-title {
    padding: 20px;
    margin-left: 50px;
}

.margin-img {}

/* BMI calculator */
.bmi {
    margin-bottom: 100px;
}

.bmi-bg-color {
    background: rgb(34, 34, 34);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 150%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: rgba(255, 255, 255, 0.5);
}

/* tr:nth-child(even) {
    background-color: #dddddd;
  } */

.bmi-table {
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.bmi-title {
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    font-weight: 900;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.cal-bmi {
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 100px;
    width: 50%;
}

.cal-bmi-text {
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    font-weight: 900;
}

.cal-bmi-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.87rem;
    font-weight: 400;
}

.bmi-box {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 40px 12px 20px;
    margin: 5px;
}

.bmi-btn {
    margin-top: 20px;
}

.bmi-cm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.bmi-select {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.bmi-box-1 {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 40px 12px 20px;
    margin: 5px;
}
/* Bonus Part */
.bonus-part{
    margin-bottom: 100px;
}
.bon-img {
    width: 40%;
    border-radius: 10px;
    background: rgb(196, 196, 196);
}
.bon-1{
    display: flex;
}
.bon-text{
    margin-left: 20px;
}
.bon-title{
    color: rgb(255, 253, 248);
    font-size: 1.12rem;
    font-weight: 400;
}
.bon-description{
    color: rgb(196, 196, 196);
    font-size: 1rem;
    font-weight: 400;
    width: 80%;
}
.bon{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-left: 100px;
}
/* meet out team */
.img-grid {
    margin: auto;
}

.img-grid-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 100px;
}

.grid-img {
    width: 90%;
    height: 272px;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2), url(image);
    margin: 30px;
    filter: brightness(70%);
}

.grid-box {
    position: relative;
}

.grid-title {
    position: absolute;
    top: 70%;
    left: 10%;
    color: white;
}

.grid-name {
    position: absolute;
    top: 78%;
    left: 10%;
    color: slategrey;
}

/* Footer */
.footer {
    max-width: 1440px;
    margin: 0 auto;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-title{
    font-size: 3.25rem;
}
.footer-1 {
    /* margin: 66px 500px 247px 0px; */
    /* padding: 20px; */
}

.footer-text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
    font-weight: 400;
    width: 60%;
}

.footer-2 {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 100px;
}

.footer-3 {
    margin-top: 20px;
}

.footer-bg {
    background: rgba(255, 255, 255, 0.1);
}

.hr {
    border: 2px solid rgba(255, 255, 255, 0.1);
    width: 80%;
    height: 0;
}

.copyright {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    font-weight: 400;
}

/* .get-started{
    display: flex;
    justify-content: space-between;
} */

/* .container{
    display: flex;
    justify-content: space-around;
} */

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    margin: 10px;
}

.navigation a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.43rem;
    font-weight: 400;
    text-decoration: none;
}

.started {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 500;
    /* margin: 20px; */
}


/* responsive design */
@media screen and (max-width: 576px) {
    .nav-options{
        display: none;
    }
    .bars{
        display: block;
        /* flex-direction: row; */
        /* color: white; */
        /* padding: 20px 300px; */
        /* padding-left: 100px; */
        padding: 20px 0px;
    }
    .fit{
        font-size: 1.62rem;
    }
    .btn-join, btn-app{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: row;
        gap: 20px;
        margin-top: 20px;
    }
    .nav-container{
        flex-direction: row;
        gap: 330px;
        justify-content: space-between;

    }
    .banner-head{
        font-size: 2rem;
    }
    .banner-container{
        flex-direction: column;
        margin-left: 0;
        font-size: 1rem;
    }
    .btn-join, btn-app{
        flex-direction: row;
    }
    .main-grid-container{
        flex-direction: column;
        margin-left: 150px;
    }
    .main-head-2{
        flex-direction: column;
    }
    .main-2-img{
        width: 90%;
    }
    .bmi-bg-color, 
    .flex{
        flex-direction: column;
        padding: 0;
    }
    .bmi-table{
        width: 50%;
    }
    .cal-bmi{
        margin-left: -40px;
    }
    .bmi-cm{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }
    .img-grid-1{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }
    .img-grid{
        margin-left: -20px;
    }
    .footer{
        flex-direction: column;
    }
    .footer-2{
        margin-left: 0;
    }
    .started{
        margin-left: 0;
    }
    .footer-3{
        margin-bottom: 100px ;
    }
    .bon{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }
    .bon-1{
        width: 100%;
    }
    .bon-img{
        width: 60%;
    }
}
